<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miljoenennota</title>
</head>
<body>
<h1>Welkom bij de vragen over de miljoenennota pagina.</h1>
<form action="#" method="POST" th:action="@{/nota}" th:object="${questionForm}">
    <input id="messageText" th:field="*{messageText}" type="text" placeholder="Stel je vraag hier..." size="100">
    <input id="submit-button" type="submit">
</form>

<p th:if="${answer != null}" th:utext="${answer}"></p>
<p th:if="${answer == null}">No answer provided</p>

<a href="/">Terug naar de beginpagina.</a>
</body>
</html>
