<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head :: head}">
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Welkom bij de vragen over de miljoenennota pagina.</h2>
            <p class="card-text">Stel je vraag:</p>

            <form action="#" method="POST" th:action="@{/nota}" th:object="${questionForm}" class="needs-validation" novalidate>
                <div class="form-group">
                    <input id="messageText" th:field="*{messageText}" type="text" placeholder="Stel je vraag hier..." size="100" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a message.
                    </div>
                </div>
                <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


    <div class="alert alert-info" role="alert" th:if="${answer != null}" th:utext="${answer}"></div>
    <div class="alert alert-info" role="alert" th:if="${answer == null}">No answer provided</div>

</div>

</body>
</html>
